
<div class="card">
    <p-table [value]="listaArticulos" [tableStyle]="{'min-width': '50rem'}" [rows]="10"  [paginator]="true" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          buscador y botones
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Nombre del artículo </th>
                <th>Código</th>
                <th>Código del proveedor</th>
                <th>TipoProducto</th>
                <th>Existencias</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto let-columns="columns">
            <tr>
                <td>{{producto.producto.PrdNombre}}</td>
                <td>{{producto.producto.PrdCodigo}}</td>
                <td>{{producto.producto.PrdCodigoProvedor}}</td>
                <td>{{producto.producto.PrdIdTipoProductoNavigation.TppDescripcion}}</td>
                <td>{{producto.producto.CantidadExistencia}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

