
<div class="card">
    <p-table id="Inventarios" [value]="listaArticulos" [tableStyle]="{'min-width': '50rem'}" [rows]="10"  [paginator]="true" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="exportarExcel()"></button>
            <button pButton pRipple type="button" icon="pi pi-edit" class="p-button-rounded" (click)="exportarPDF()"></button>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Nombre del artículo</th>
                <th>Código</th>
                <th>Código del proveedor</th>
                <th>Tipo producto</th>
                <th>Existencias</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto let-columns="columns">
            <tr>
                <td>{{producto.producto.prdNombre}}</td>
                <td>{{producto.producto.prdCodigo}}</td>
                <td>{{producto.producto.prdCodigoProvedor}}</td>
                <td>{{producto.producto.prdIdTipoProductoNavigation.tppDescripcion}}</td>
                <td>{{producto.cantidadExistencia}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

