Backend/PuraVidaStoreBK/.vs/
Backend/PuraVidaStoreBK/PuraVidaStoreBK/bin/
Backend/PuraVidaStoreBK/PuraVidaStoreBK/obj/
ReportingServices/Reportes/.vs/
ReportingServices/Reportes/bin/
ReportingServices/Reportes/obj/