Backend/PuraVidaStoreBK/.vs
Backend/PuraVidaStoreBK/PuraVidaStoreBK/bin
Backend/PuraVidaStoreBK/PuraVidaStoreBK/obj
/Backend/PuraVidaStoreBK/.vs/PuraVidaStoreBK/FileContentIndex/0c694e5f-194d-4af5-a8da-801c6a1ed1c3.vsidx
