ScripBaseDeDatos/Backend/PuraVidaStoreBK/.vs
ScripBaseDeDatos/Backend/PuraVidaStoreBK/bin
ScripBaseDeDatos/Backend/PuraVidaStoreBK/obj
ScripBaseDeDatos/Backend/ReportesPuraVida/obj
ScripBaseDeDatos/Backend/ReportesPuraVida/bin