<H1 class="letrasTitulos">Bienbenido al sistema de Pura Vida Store</H1>


<div class="position-absolute top-50 start-50 translate-middle">
  <form>
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label letrasTitulos">Usuario</label>
      <input type="email" class="form-control" id="usuario" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label letrasTitulos">Password</label>
      <input type="password" class="form-control" id="pass">
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label letrasTitulos" for="exampleCheck1">Recordar mis credenciales</label>
    </div>
    <button type="submit" class="button">Entrar</button>
  </form>

</div>



