<div class="flex-row">
    <div class="flex justify-content-center flex-wrap card-container">
        <img src="../../assets/Logo 2.png" class="col-6">

    </div>
    <div class="p-8">

        <div class="field">
            <label for="firstname1">Usuario</label>
            <input id="firstname1" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field">
            <label for="lastname1">Contraseña</label>
            <input id="lastname1" type="password" pPassword 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

        </div>
        <button class="w-full" pButton type="button" label="Entrar" ></button>

        
    </div>

</div>