<div class="card">
  <p-table
    [value]="listaMotivosMovimientos"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-2">
          Movimientos
          <p-button
            icon="pi pi-plus"
            class="mx-2"
            (click)="showModalDialog()"
          ></p-button>
        </div>
        <div class="col">
          <div class="p-inputgroup">
            <input type="text" [(ngModel)]="buscador" (input)="sujerencias()" pInputText placeholder="Buscar" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Id</th>
        <th>Descripción del ajuste</th>
        <th>Tipo Ajuste</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ajuste let-columns="columns">
      <tr *ngIf="ajuste.mtmIdTipoMovimiento === 1" class="text-green-500">
        <td>{{ ajuste.mtmId }}</td>
        <td>{{ ajuste.mtmDescripcion }}</td>
        <td>{{ ajuste.mtmIdTipoMovimientoNavigation.tpmDescripcion }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editarAjuste(ajuste)"
            class="p-button-rounded p-button-warning"
          ></button>
        </td>

      </tr>

      <tr *ngIf="ajuste.mtmIdTipoMovimiento === 2" class="text-red-500">
        <td>{{ ajuste.mtmId }}</td>
        <td>{{ ajuste.mtmDescripcion }}</td>
        <td>{{ ajuste.mtmIdTipoMovimientoNavigation.tpmDescripcion }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editarAjuste(ajuste)"
            class="p-button-rounded p-button-warning"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="{{ encabezado }}"
  [(visible)]="displayModal"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="field">
    Tipo de ajuste:
    <p-dropdown
      [options]="listaTipoMovimiento"
      [(ngModel)]="TipoMovimientoSeleccionado"
      placeholder="Seleccione el tipo de Ajuste"
      optionLabel="tpmDescripcion"
      [showClear]="true"
    ></p-dropdown>
  </div>

  <div class="field">
    <label for="descripcion">Razon del ajuste</label>
    <input
      id="Descripcion"
      [(ngModel)]="motivo.mtmDescripcion"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>

  <ng-template pTemplate="footer">
    <p-button
      (click)="Cancelar()"
      label="Cancelar"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      (click)="GuardarMotivoMovimiento()"
      label="Guardar"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
