<div class="my-2">
  <div class="field">
    <div class="grid">
      <div class="col">
        <div class="fiel"><label> Fecha Inicio </label></div>
        <div class="field">
          <p-calendar [(ngModel)]="fechaInico"></p-calendar>
        </div>
      </div>

      <div class="col">
        <div class="fiel"><label> Fecha Fin </label></div>
        <div class="field">
          <p-calendar [(ngModel)]="fechaFin"></p-calendar>
        </div>
      </div>

      <div class="col">
        <p-button (onClick)="generarReporte()" label="Generar reporte"></p-button>
      </div>
    </div>
  </div>
</div>
