<div class="flex justify-content-center flex-wrap card-container ">
    <img src="../../assets/Logo.png" class="col-6">

    <div class="col-8">
        <div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Usuario" [(ngModel)]="Usuario">
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="password" pInputText placeholder="Contraseña" [(ngModel)]="Contrasena">
            </div>
        </div>

    </div>
    

    <button pButton pRipple type="button" label="Ingresar"
    class="p-button-raised p-button-secondary col-6 justify-content-center" (click)="validar()"></button>
</div>