<div class="mt-2">
  <p-accordion [activeIndex]="0">
    <form [formGroup]="ParametrosForm">
      <div class="grid">
        <div class="col">
          <p-accordionTab header="Configuración de parámetros">
            <div class="field">
              <label htmlFor="lblUnidadesHabilitarMayorista"
                >Unidades para habilitar cliente mayorista
              </label>
              <p-inputNumber
                formControlName="unidadesHabilitarMayorista"
                [showButtons]="true"
                inputId="minmax-buttons"
                [min]="1"
                class="mx-2"
              >
              </p-inputNumber>
            </div>

            <div class="field">
              <label htmlFor="lblUnidadesAgregarMayorista"
                >Unidades para agregar cliente mayorista
              </label>
              <p-inputNumber
                formControlName="unidadesAgregarMayorista"
                [showButtons]="true"
                inputId="minmax-buttons"
                [min]="1"
                class="mx-2"
              >
              </p-inputNumber>
            </div>

            <div class="field">
              <label htmlFor="swHabilitarImpuestos">Habilitar impuestos </label>
              <p-inputSwitch
                formControlName="habilitarImpuestos"
              ></p-inputSwitch>
            </div>

            <div class="field">
              <label htmlFor="swImpuestosIncluidos">Habilitar impuestos </label>
              <p-inputSwitch
                formControlName="impuestosIncluidos"
              ></p-inputSwitch>
            </div>
          </p-accordionTab>

          <p-accordionTab header="Configuración del correo">
            <div class="grid">
              <div class="col">
                <div class="flex flex-column gap-2">
                  <label htmlFor="Host">Ingrese el host</label>
                  <input
                    pInputText
                    id="Host"
                    aria-describedby="host-help"
                    formControlName="host"
                  />
                  <small id="host-help"
                    >Servidor del encargado de enviar correos</small
                  >
                </div>
              </div>
              <div class="sm:col md:col-2">
                <div class="flex flex-column gap-2">
                  <label htmlFor="Puerto">Ingrese el host</label>
                  <input
                    pInputText
                    pKeyFilter="num"
                    id="Puerto"
                    aria-describedby="puerto-help"
                    formControlName="puerto"
                  />
                  <small id="puerto-help"
                    >Puerto de salida</small
                  >
                </div>
              </div>
            </div>

          </p-accordionTab>
        </div>
        <div class="sm:col md:col-1">
          <button
            type="submit"
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-save"
            class="ml-2"
            [disabled]="!ParametrosForm.valid"
          ></button>
        </div>
      </div>
    </form>

    <p-accordionTab header="Header III">
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus.
      </p>
    </p-accordionTab>
  </p-accordion>
</div>

<p>Form Value: {{ ParametrosForm.value | json }}</p>

<p>Form Status: {{ ParametrosForm.status }}</p>
