<p-accordion [activeIndex]="0">
  <p-accordionTab header="Parámetros Globales">
    <div class="grid">
      <div class="col-3 flex align-items-center justify-content-center">
        Unidades para habilitar mayorista
      </div>
      <div class="col">
        <p-inputNumber
          [(ngModel)]="parametrosGlobales.prgUndsHabilitarMayorista"
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
          [max]="100"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="grid">
      <div class="col-3 flex align-items-center justify-content-center">
        Unidades para agregar mayorista
      </div>
      <div class="col">
        <p-inputNumber
          [(ngModel)]="parametrosGlobales.prgUndsAgregarMayorista"
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="0"
          [max]="100"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="grid">
      <div class="col">
        Habilitar impuestos

        <p-inputSwitch
          [(ngModel)]="parametrosGlobales.prgHabilitarImpuestos"
        ></p-inputSwitch>
      </div>

      <div class="col">
        Impuestos Incluidos
        <p-inputSwitch
          [(ngModel)]="parametrosGlobales.prgImpustosIncluidos"
        ></p-inputSwitch>
      </div>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Configuracón del correo  principal">
    <div class="my-2">
      <h2>Host y puerto</h2>
      <div class="grid">
        <div class="sm:col md:col">
          <label for="Host">Host</label>
          <input
            id="Host"
            class="w-full"
            pInputText
            placeholder="Host"
            [(ngModel)]="emial.preHost"
          />
        </div>

        <div class="sm:col md:col-1">
          <label for="Puerto">Puerto</label>
          <input
            id="Puerto"
            class="w-full"
            pInputText
            pKeyFilter="int"
            placeholder="Integers"
            [(ngModel)]="emial.prePuerto"
          />
        </div>
      </div>
    </div>

    <div class="my-2">
      <h2>Usiaro y contraña del correo</h2>
      <div class="grid">
        <div class="sm:col md:col">
          <label for="usuarioEmail">Usuario </label>
          <input
            id="usuarioEmail"
            class="w-full"
            pInputText
            type="text"
            placeholder="Usuario"
            [(ngModel)]="emial.preUser"
            autocomplete="off"
          />
        </div>

        <div class="sm:col md:col-6">
          <label for="PasswordEmail">Contraseña </label>
          <input
            id="PasswordEmail"
            class="w-full"
            pInputText
            type="password"
            placeholder="Contraseña"
            [(ngModel)]="emial.preUser"
            autocomplete="new-password"
          />
        </div>

      </div>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Lista de impuetsos">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
      impedit quo minus.
    </p>
  </p-accordionTab>
</p-accordion>
