<form [formGroup]="ParametrosForm" (ngSubmit)="guardar()">
  <div class="grid my-2">
    <div class="col">
      <div class="my-2">
        <h2>Parámetros Globales</h2>
        <div class="grid">
          <div class="col">
            Unidades para habilitar mayorista
            <p-inputNumber
              formControlName="unidadesHabilitarMayorista"
              mode="decimal"
              [showButtons]="true"
              inputId="minmax-buttons"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="grid">
          <div class="col">
            Unidades para agregar mayorista
            <p-inputNumber
              formControlName="unidadesAgregarMayorista"
              mode="decimal"
              [showButtons]="true"
              inputId="minmax-buttons"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="field">
          Habilitar impuestos
          <p-inputSwitch formControlName="habilitarImpuestos"></p-inputSwitch>
        </div>
        <div class="field">
          Impuestos Incluidos
          <p-inputSwitch formControlName="impuestosIncluidos"></p-inputSwitch>
        </div>
      </div>

      <div class="grid">
        <div class="col">
          <h1>Configuración del correo</h1>
          <div class="my-2">
            <h2>Host y puerto</h2>
            <div class="grid">
              <div class="sm:col md:col">
                <label for="Host">Host</label>
                <input
                  id="Host"
                  class="w-full"
                  pInputText
                  placeholder="Host"
                  formControlName="host"
                />
              </div>

              <div class="sm:col md:col-1">
                <label for="Puerto">Puerto</label>
                <input
                  id="Puerto"
                  class="w-full"
                  pInputText
                  pKeyFilter="int"
                  placeholder="Integers"
                  formControlName="puerto"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          Habilitar encio de corrreo
          <p-inputSwitch formControlName="habilitarCorreo"></p-inputSwitch>
        </div>
      </div>

      <div class="my-2">
        <h2>Usiaro y contraña del correo</h2>
        <div class="grid">
          <div class="sm:col md:col">
            <label for="usuarioEmail">Usuario </label>
            <input
              id="usuarioEmail"
              class="w-full"
              pInputText
              type="text"
              placeholder="Usuario"
              formControlName="usuario"
              autocomplete="off"
            />
          </div>

          <div class="sm:col md:col-6">
            <label for="PasswordEmail">Contraseña </label>
            <input
              id="PasswordEmail"
              class="w-full"
              pInputText
              type="password"
              placeholder="Contraseña"
              formControlName="clave"
              autocomplete="new-password"
            />
          </div>
        </div>

        <label for="switch1">SSL</label>
        <p-inputSwitch inputId="switch1" formControlName="ssl"></p-inputSwitch>
      </div>
    </div>
    <div class="sm:col md:col-1">
      <p-button
        label="Guardar"
        type="submit"
        [disabled]="!ParametrosForm.valid"
        icon="pi pi-save"
      ></p-button>
    </div>
  </div>
</form>

<div class="card">
  <span class="p-fluid">
    <div class="grid">
      <div class="col">
        <p-autoComplete
          [(ngModel)]="buscador"
          [suggestions]="ImpuestosSugerencia"
          (completeMethod)="FiltrarImpuestos($event)"
          field="impDescripcion"
        >
        </p-autoComplete>
      </div>
      <div class="col-1">
        <p-button
          icon="pi pi-plus"
          styleClass="p-button-rounded p-button-success"
          (click)="AgregarAlista()"
        ></p-button>
      </div>
    </div>
  </span>
</div>
<div class="my-2">
  <p-table
    [value]="ImpuestosAgregar"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>#</th>
        <th>Descricion</th>
        <th>Porcentaje del impuesto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Impuesto let-columns="columns">
      <tr>
        <td>{{ Impuesto.impId }}</td>
        <td>{{ Impuesto.impDescripcion }}</td>
        <td>{{ Impuesto.impPorcentaje }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p>Form Value: {{ ParametrosForm.value | json }}</p>

<p>Form Status: {{ ParametrosForm.status }}</p>
