<p-toast position="top-left"></p-toast>
<div class="grid my-3">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    class="col-1 p-button-rounded"
    (click)="AgregarBodega()"
  ></button>
  <span class="col p-float-label">
    <input
      id="float-input"
      type="text"
      [(ngModel)]="buscar"
      pInputText
      (input)="buscarPorDescription()"
    />
    <label for="float-input">Buscar</label>
  </span>
</div>

<p-table
  [value]="listaBodegas"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25]"
>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bodega>
    <tr>
      <td>{{ bodega.bdgId }}</td>
      <td>{{ bodega.bdgDescripcion }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-warning"
          (click)="EditarBodega(bodega.bdgId)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
          [disabled]="deshabilitarEliminarBodegaActual(bodega.bdgId)"
          (click)="borrarBodega(bodega)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="{{ header }}"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h5>Bodega</h5>

  <span class="p-float-label">
    <input
      id="float-input"
      type="text"
      pInputText
      [(ngModel)]="bodega.bdgDescripcion"
    />
    <label for="float-input">Nombre de la bodega</label>
  </span>
  <ng-template pTemplate="footer">
    <button
      icon="pi pi-check"
      pButton
      type="button"
      label="Guardar"
      (click)="GuardarBodega()"
    ></button>
    <button
      icon="pi pi-times"
      pButton
      type="button"
      label="Cancelar"
      (click)="display = false"
    ></button>
  </ng-template>
</p-dialog>
