<p>impuestos works!</p>
<p-table [value]="listaImpuestos" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="caption">
      Default
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th>Name </th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Reviews</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
          <td>{{product.name}}</td>
          <td>{{product.price | currency:'USD'}}</td>
          <td>{{product.category}}</td>
          <td>{{product.quantity}}</td>
          <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
          <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
      </tr>
  </ng-template>
</p-table>
