<div class="my-2">
  <div class="grid">
    <div class="col-9">
      <input
        type="text"
        placeholder="Buscar por código"
        [(ngModel)]="buscadorCodigoDeBarras"
        (keyup.enter)="obtenerPorCodigoDeBarras()"
        pAutoFocus
        [autofocus]="enfoque"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>

    <div class="col">
      <p-button
        class="mx-1"
        icon="pi pi-search"
        (onClick)="obtenerPorCodigoDeBarras()"
      ></p-button>
      <p-button
        (click)="showModalDialog()"
        icon="pi pi-external-link"
        label="Ver productos"
      ></p-button>
      <p-dialog
        header="Lista de productos"
        [(visible)]="displayModal"
        [modal]="true"
        [style]="{ width: '70vw' }"
        [maximizable]="true"
      >
        <div class="field">
          <label for="buscarDescripcion">Buscar por descripción</label>
          <input
            id="buscarDescripcion"
            type="text"
            [(ngModel)]="buscadorPorDescripcion"
            (input)="buscarPorDescripcion()"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
        </div>
        <div class="field">
          <p-table [value]="listaProductos" [tableStyle]="{'min-width': '50rem'}"
          [rows]="5"  [paginator]="true" [rowsPerPageOptions]="[5,7,10]">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Codigo</th>
                    <th>Código proveedor</th>
                    <th>Categoria</th>
                    <th>Acciones</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto let-columns="columns">
                <tr>
                    <td>{{producto.prdNombre}}</td>
                    <td><img [src]="leerArchivo(producto.pdrFoto)" [alt]="producto.prdNombre" width="100" class="shadow-4" /></td>
                    <td>{{producto.prdCodigo}}</td>
                    <td>{{producto.prdCodigoProvedor}}</td>
                    <td>{{producto.prdIdTipoProductoNavigation?.tppDescripcion}}</td>
                    <td><p-button label="Seleccionar" icon="pi pi-check" (click)="seleccionar(producto)"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <ng-template pTemplate="footer">
          <p-button
            icon="pi pi-check"
            (click)="displayModal = false"
            label="Ok"
            styleClass="p-button-text"
          ></p-button>
        </ng-template>
      </p-dialog>

      <p-button
        class="mx-1"
        icon="pi pi-eraser"
        iconPos="right"
        (onClick)="limpiar()"
      ></p-button>
    </div>
  </div>

  <p-card>
    <ng-template pTemplate="header">
      <div class="flex justify-content-center flex-wrap card-container col">
        <div class="flex align-items-center justify-content-center col">
          <div class="field">
            <h1>{{ producto.prdNombre }}</h1>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="flex justify-content-center flex-wrap card-container col">
      <div class="flex align-items-center justify-content-center col">
        <div class="field">
          <img
            [src]="foto"
            [style]="{ width: '15rem', 'margin-bottom': '2em' }"
          />
        </div>
      </div>
    </div>
    <div class="field">Código: {{ producto.prdCodigo }}</div>
    <div class="field">
      Código del provedor: {{ producto.prdCodigoProvedor }}
    </div>
    <div class="field">
      Categoria: {{ producto.prdIdTipoProductoNavigation?.tppDescripcion }}
    </div>

    <ng-template pTemplate="footer">
      <div class="field">Estado</div>
      <div class="field">
        Inactivo
        <p-inputSwitch
          [(ngModel)]="producto.pdrVisible"
          [disabled]="!esAdministrador"
          (onChange)="activarProducto()"
        ></p-inputSwitch>
        Activo
      </div>
    </ng-template>
  </p-card>
</div>
<p-toast position="top-right"></p-toast>
