<p-dialog header="{{Encabezado}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <label>Descripción: </label>
    <input type="text" pInputText [(ngModel)]="TipoProductoEditar.TppDescripcion" placeholder="Descripción" />
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="guardar()" label="Guardar" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>




<p-card>
    <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-info mx-2"
        (click)="showModalDialog(0)" [disabled]="!esAdministrador"></button>
  <input type="text" pInputText placeholder="Buscar" [(ngModel)]="buscador" (change)="sujerencias(buscador)" (input)="sujerencias(buscador)">

</p-card>



<div class="my-2">
    <p-table [value]="listaTipoProductos" responsiveLayout="scroll" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Acciones</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipoProducto>
            <tr>
                <td>{{tipoProducto.tppId}}</td>
                <td>{{tipoProducto.tppDescripcion}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning mx-2" [disabled]="!esAdministrador"
                        (click)="showModalDialog(tipoProducto.tppId)"></button>
                     
                    <p-inputSwitch [(ngModel)]="tipoProducto.tppVisible" [disabled]="!esAdministrador" (onChange)="cambio(tipoProducto)"></p-inputSwitch>
                    <label class="mx-1">Visible</label>
                </td>

            </tr>
        </ng-template>
    </p-table>

</div>


<p-toast position="top-right"></p-toast>