<h3>Datos de la persona</h3>
<p-accordion>
    <p-accordionTab header="Datos de la persona">
        <h5>Identificación</h5>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                    <input type="text" pInputText placeholder="Cédula de identidad">         
                </div>
            </div>
        </div>
            
        <h5>Nombre</h5>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Nombre">         
                </div>
            </div>
            
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Primer Apellido">   
                </div>
            </div>
                    
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Segundo Apellido">      
                </div>
            </div>
        </div>
            


    </p-accordionTab>
</p-accordion>