<div class="field">
  <h3>Reporte de Movimientos</h3>
  <div class="field">
    <div class="grid">
      <div class="col">
        <div class="field"><label>Bodega</label></div>
        <div class="fiel">
          <p-dropdown
            [options]="listaBodegas"
            [(ngModel)]="bodegaSeleccionada"
            optionLabel="bdgDescripcion"
          ></p-dropdown>
        </div>
      </div>

      <div class="col">
        <div class="field"><label>Fecha Inicio</label></div>
        <div class="field">
          <p-calendar [(ngModel)]="fechaInicio"></p-calendar>
        </div>
      </div>

      <div class="col">
        <div class="field"><label>Fecha Fin</label></div>
        <div class="field">
          <p-calendar [(ngModel)]="fechaFin"></p-calendar>
        </div>
      </div>

      <div class="col">
        <div class="field"><label>Generar Reporte</label></div>
        <div class="field">
          <p-button
            icon="pi pi-file-pdf"
            styleClass="p-button-rounded p-button-danger p-button-outlined"
            (onClick)="ejecutarConsultaBodega()"
            [disabled]="!fechaInicio && !fechaFin"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <h3>Reporte de Movimientos por Producto</h3>
  <div class="grid">
    <div class="col">
      <div class="field"><label>Bodega</label></div>
      <div class="field">
        <p-dropdown [options]="listaBodegas" [(ngModel)]="bodegaSeleccionada" optionLabel="bdgDescripcion"></p-dropdown>
      </div>
    </div>

    <div class="col">
      <div class="field"><label>Fecha Inicio</label></div>
      <div class="field">
        <p-calendar [(ngModel)]="fechaInicio"></p-calendar>
      </div>
    </div>

    <div class="col">
      <div class="field"><label>Fecha Fin</label></div>
      <div class="field">
        <p-calendar [(ngModel)]="fechaFin"></p-calendar>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <label>Código Productos</label>
      </div>
      <div class="field">
        <input type="text" placeholder="Código producto" pInputText [(ngModel)]="produto" />
      </div>
    </div>

    <div class="col">
      <div class="field"><label>Generar Reporte</label></div>
      <div class="field">
        <p-button
          icon="pi pi-file-pdf"
          (onClick)="ejecutarConsultaBodegaProducto()"
          styleClass="p-button-rounded p-button-danger p-button-outlined"
        ></p-button>
    </div>
  </div>
</div>
